{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div id="wrapper">
    <section>
        <div class="data-container"></div>
        <div id="pagination-demo1"></div>
        <div class="data-container"></div>
        <div id="pagination-demo2"></div>
    </section>
</div>

{% endblock %}

{% block localscript %}
<!-- <script src="http://localhost:4000/public/assets/jQuery3.2.1.js"></script> -->
<script src="http://localhost:4000/public/assets/js/page.js"></script>
{% endblock %}
