{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

  <div>
    <h3 class="text-center">
        {{title}}
    </h3>
  </div>

  <button type="button" class="btn btn-default" id="reload-trans-list-btn">
    Reload
  </button>

  <h4 style="display:none;" id="trans-list-loading" class="text-muted text-center"> Loading ...</h4>

  <div>
    <table id="trans-list-table" class="table">
      <thead>
        <tr>
      
          <th>Ledger</th>
          <th>Dr Amount</th>
          <th>Cr Amount</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>


  <script type="text/html" id="trans-list-item-tpl">
    <tr>
        <td data-content="grpledger"></td>
        <td data-content="dr_amt"></td>
        <td data-content="cr_amt"></td>
      
      </tr>
  </script>



  {% endblock %}
  
    {% block localscript %}
    <!-- <script src="http://localhost:4000/public/assets/jQuery3.2.1.js"></script> -->
    <script src="http://localhost:4000/public/assets/js/finalac.js"></script>
    {% endblock %}